@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply h-1 w-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-full bg-black/10;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-400;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-200;
  }
}

@layer components {
  .btn {
    @apply flex w-full transform items-center justify-center rounded-xl px-10 py-4 text-center text-base font-medium text-white transition duration-300 ease-in-out;
  }

  .label {
    @apply block text-sm font-medium text-gray-600;
  }

  .input {
    @apply mt-1 block w-full transform rounded-lg border bg-gray-50 px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-300 ease-in-out focus:ring-black/10 focus:ring-offset-white;
  }

  .file-input {
    @apply block w-full cursor-pointer text-sm text-neutral-600 transition file:mr-4 file:rounded-full file:border-0 file:bg-black/10 file:py-2 file:px-4 file:text-sm file:font-semibold file:text-black hover:file:opacity-75;
  }

  .focus {
    @apply focus:border-transparent focus:outline-none focus:ring-2 focus:ring-black/10 focus:ring-offset-2 focus:ring-offset-white;
  }

  .form-card {
    @apply flex w-[50vh] flex-col items-center justify-center rounded-xl bg-white p-4 shadow-lg transition;
  }

  /* Pop animation */
  .pop_animation {
    -webkit-animation: pop_animation var(--animation-btn, 0.3s) ease-out;
    animation: pop_animation var(--animation-btn, 0.3s) ease-out;
  }

  .pop_animation:active:hover,
  .pop_animation:active:focus {
    -webkit-animation: none;
    animation: none;
  }

  .pop_animation:active:hover,
  .pop_animation:active:focus {
    transform: scale(var(--btn-focus-scale, 0.95));
  }

  @-webkit-keyframes pop_animation {
    0% {
      transform: scale(var(--btn-focus-scale, 0.95));
    }

    40% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes pop_animation {
    0% {
      transform: scale(var(--btn-focus-scale, 0.95));
    }

    40% {
      transform: scale(1.02);
    }

    100% {
      transform: scale(1);
    }
  }
}
